.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #a71e1e;
    text-align: left;
    padding: 8px;
  }

  .selected{
    background-color: purple;
  }
  
  .inputDetails {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */