#root {
    height: 100vh;
}

#root.MuiTypography {
  font-family: "Atlas Grotesk Web Bold",sans-serif !important;

}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #0f0e0e;
  text-align: left;
  padding: 8px;
}

.selected{
  background-color: lightgray;
}

.btnHighlight {
  background-color: lightblue;
} 

/* Home Page styling */

.searchIcon{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
   color: lightgray
}

/* Signin, signup, forgotPassword */

.inputBox{
  width: 100%;
}

/* Others. about page styling */

.othersPageContainer, .aboutPageContainer{
  margin-top: 90px
}

.othersPageHeader, .aboutPageHeader{
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999999
}

.othersPageButton{
  margin-top: 10px
}

/* MainHeader */

.mainHeaderContainer {
  display: flex;
  box-shadow: 0 8px 6px -6px black;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;  
  height: 51px;     
}

.mainHeaderImage {
  width: 30px;
  height: 30px;
  margin-top: 5px
}

.mainHeaderSignOut {
  font-size: 44px !important;
  color: gray;
}

/* Header page */

.headerContainer {
  display: flex;
  background-color: lightgray;
  width: 100% !important;
  font-size: 50px;
  top: 0px;
  height: 180px;
}

.headerImageContainer {
  margin-left: 216px
}

.headerImage {
  height: 120%;
  border-radius: 20px;
  /* width: 70%; */
  margin-top: 15px;
}

.headerContentContainer {
  margin-left: 20px;
  margin-top: 15px;
}

.headerTabs {
  border-radius: 7px !important;
  padding: 3px !important;
  background-color: #fff !important;
  color: #000 !important;
  margin-right: 15px !important;
  margin-bottom: 18px !important 
}

.headerTabsContainer {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.headerLine {
  width: 70vw !important;
  margin-top: -12px !important;
}

/* Landing Page  */

.landingButtons {
  background-color: black !important;
  margin-right: 10px !important;
}

/* Home page styling */

.homeContainer {
  margin-top: 90px
}

.homeHeader{
  background-color: white;
  height: 80px;
  position:fixed;
  top: 0px;
  width: 100%;
  left: 0px
}

/* Small header page */

.smallHeaderMainContainer {
  background-color: lightgray;
  height: 110px;
  display: none 
}

.smallHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-around
}

.smallHeaderContent {
  display: flex
}

.imageContainer {
  margin-right: 50px;
  margin-top: 5px
}

.smallHeaderImage {
  width: 75px;
  border-radius: 15px
}

.content {
  display: flex;
  align-items: center
}

.smallHeaderRightButton {
  border-radius: 7px !important;
  background-color: #fff !important;
  color: #000 !important;
  margin-right: 15px !important;
}

.smallHeaderLeftButton {
  border-radius: 7px !important;
  background-color: #fff !important;
  color: #000 !important;
  margin-right: 15px !important;
}

.smallHeaderDetailButton {
  border-radius: 7px !important;
  color: #fff !important;
  background-color: #000 !important;
  margin-right: 15px !important;
}

/* Data table */

.tableMainContainer {
  position: fixed;
  width: 100%;
  top: 0px
}

.tableHeader {
  background-color: white;
  height: 56px;
  top: 0px;
  width: 100%
}

.tableContainer {
  margin-top: 300px;
  margin-left: 216px;
  width: 83vw;
}

.tableContent {
  margin-top: 23px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.infoContent {
  font-size: 23px;
}
.addIcon {
  color: lightgray;
}

.signInButton, .signUpRecommendation {
  cursor: pointer;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
  padding: 10px;
}

.alignmentInput {
  margin-bottom: 8px;
  width: 100%;
}

.inputWidth {
  width: 100%;
}

.carousel.carousel-slider {
    height: 55rem;
}