#root {
  /* overflow: hidden; */
    height: 100vh;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* margin-top: 132px; */
}

td, th {
  border: 1px solid #0f0e0e;
  text-align: left;
  padding: 8px;
}

.selected{
  background-color: lightgray;
}

.btnHighlight {
  background-color: lightblue;
} 

/* Home Page styling */

.searchIcon{
  display: flex;
  justify-content: end;
  margin-right: 15px;
   color: lightgray
}

/* Signin, signup, forgotPassword */

.inputBox{
  width: 100%;
}

/* Others. about page styling */

.othersPageContainer, .aboutPageContainer{
  margin-top: '90px'
}

.othersPageHeader, .aboutPageHeader{
  background-color: white;
  height: 80px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999999
}

.othersPageButton{
  margin-top: '10px'
}

/* MainHeader */

.mainHeaderContainer {
  display: flex;
  box-shadow: 0 8px 6px -6px black;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;       
}

.mainHeaderImage {
  width: 30px;
  height: 30px;
  margin-top: 5px
}

.mainHeaderSignOut {
  font-size: 44px;
  color: gray;
}

/* Home page styling */

.homeContainer {
  margin-top: 90px
}

.homeHeader{
  background-color: white;
  height: 80px;
  position:fixed;
  top: 0px;
  width: 100%;
  left: 0px
}

/* Data table */

.tableMainContainer {
  position: fixed;
  width: 100%;
  top: 0px
}

.tableHeader {
  background-color: white;
  height: 51px;
  top: 0px;
  width: 100%
}

.tableContainer {
  margin-top: 205px;
}

.tableContent {
  margin-top: 23px;
  display: flex;
  margin-bottom: 10px;
}

.infoContent {
  font-size: 23px;
}
.addIcon {
  color: lightgray;
}
/* .inputDetails {
  margin-bottom: 8px;
  margin-top: 8px;
} */

.signInButton, .signUpRecommendation {
  /* margin-top: 20px; */
  cursor: pointer;
  margin-top: 8px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
  padding: 10px;
}

.alignmentInput {
  margin-bottom: 8px;
  width: 100%;
}

.inputWidth {
  width: 100%;
}